

<html>
    <head>
        <link rel="stylesheet" href="/css/applicant.css">
        <link rel="icon" type="image/svg" href="/assets/Logonew.png">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
    </head>
    <body onload="load()">
        <div class="left">
            <a href="/"><h1>RoziRoti</h1></a>
            <h2>Applicant Details</h2>
           <div class="list">
            <h3>Job Name: <%= job.jname %></h3><br>
            <h3>Salary: <%= job.salary %></h3><br>
            <h3>Location:<%= job.location %></h3><br>
            <h3>Pincode:<%= job.pincode %></h3><br><br>
            <h4>Description: <%= job.description %></h4>
           </div>
        </div>
        <div class="right">
            <h2 id="h"> List of Applicants</h2>
            <div id="workers">
                <table >
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>City</th>
                            <th>Contact No.</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <% job.applicants.forEach(function(applicant){ %>
                            <tr>
                                <td><%= applicant.name %></td>
                                <td><%= applicant.age %></td>
                                <td><%= applicant.city %></td>
                                <td><%= applicant.contact %></td>
                
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
            
            <br>
            <br>
            <button onclick="download()">Download as PDF</button>
        </div>
    </body>
    <script>
        function load(){
            $('.left').css('height','100%');
            $('.left').css('transition','1.9s');
        }

        function download() {
                    var pdf = new jsPDF('p', 'pt', 'letter');
                    source = $('#workers')[0];
                    source1=$('.list')[0];
                    console.log(source1);
                    specialElementHandlers = {
                        '#bypassme': function(element, renderer,element1,renderer1) {
                            return true
                        }
                    };
                    margins = {
                        top: 80,
                        bottom: 60,
                        left: 40,
                        width: 522
                    };
    
                    pdf.fromHTML(
                            source,
                            margins.left, 
                            margins.top, {
                                'width': margins.width, 
                                'elementHandlers': specialElementHandlers
                            },
                    function(dispose) {
                        pdf.save('applicants.pdf');
                    }
                    , margins);
                }
    </script>

   
</html>